
.BagButton {
    position: absolute;
    bottom: 32px;
    left: 15px;
    width: 120px
}

.wishListButton {
    position: relative;
    left: 101px;
    width: 120px;
    top: -32px;
}

.wishListButton1 {
    top: -32px;
    width: 197px;
    position: relative;
    left: -5px;
}

.AddedToWishList {
    position: relative;
    left: 101px;
    width: 120px;
    top: -32px;
}

.AddedToBagButton {
    position: absolute;
    top: 332px;
    width: 256px;
    height: 39px;
    left: 15px;
}

.bookcount {
    display: flex;
    justify-content: flex-start;
    /* left: 190px; */
    top: 56px;
    position: absolute;
    margin-left: 133px;
}

.Count {
    position: absolute;
    top: 10px;
    left: 90px;
}

/*Hover*/
/*.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;*/
        /* Position the tooltip */
        /*position: absolute;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }*/

.tooltip-inner {
    background-color: #ff0000;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #ff0000 !important;
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer
}

    .cards:hover {
        box-shadow: 1px 2px 3px 4px #e9ecef;
        transform: scale(1.0)
    }

.arrangeBook {
    display: flex;
    
}


.Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:55px;
}

.Flex1 {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    margin-top: 55px;
}
.cardFlex {
    margin: 15px;
    width: 18rem;
    height:405px;
}

.BookImage {
    height: 182px;
    width: 145px;
    /* background-color: grey; */
    position: absolute;
    top: 16px;
    left: 75px;
}

.backgroundColor {
    height: 224px;
    width: 100%;
    background-color: #F0F0F0;
}

.backgroundColor1 {
    height: 224px;
    width: 26%;
}

.card-price {
    position: relative;
    top: -11px;
    font-weight: bold;
}

.card-author {
    margin-top: -10px;
    color:darkgrey;
}

.hover {
    background-color:aliceblue;
}
/*
.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body1 {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}*/

.BookImage1 {
    height: 109px;
    width: 145px;
    /* background-color: grey; */
    position: absolute;
    top: 17px;
    left: 25px;
}

.cardFlex1 {
    margin: 15px;
    width: 36rem;
    height: 152px;
}

.stock {
    position: relative;
    bottom: -92px;
    left: 47px;
    font-size: x-large;
    color: white;
    padding-left: 29px;
    padding-right: 14px;
    padding-top: 11px;
    padding-bottom: 6px;
    width: 210px;   
}

.other {
    background-color: white;
    color: black;
}

.BookCount {
    font-size: 15px;
    position: relative;
    top: 14px;
}

.firstCard {
    width: 42rem;
    display: flex;
    margin-bottom: 21px;
}

.repeatControlFirstCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 36px;
    border: 0px solid rgba(0,0,0,.125);
}

.plus_minus {
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* top: 41px; */
    margin-left: 67px;
    margin-top: -23px;
}

.plus_minus1 {
    display: flex;
    justify-content: center;
    position: relative;
    right: 91px;
}

.minus {
    border-radius: 50%;
    /* background-color: #4F81BD; */
    color: black;
    /* text-align: center; */
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    width: 28px;
    height: -3px;
    /* position: absolute; */
    /* top: 6px; */
    padding-right: -10px;
}

.plus {
    border-radius: 50%;
    /* background-color: #4F81BD; */
    color: black;
    /* text-align: center; */
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    width: 28px;
    height: -3px;
    /* position: absolute; */
    /* top: 6px; */
    padding-right: -10px;
}

.remove {
    position: relative;
    right: 58px;
    font-size: 19px;
}

.placeOrder {
    position: relative;
    left: 487px;
    width: 154px;
}

.secondCard {
    width: 42rem;
    display: flex;
    margin-bottom: 21px;
}

.customer_edit {
    display: flex;
    justify-content: space-between;
    margin-left: 21px;
}

.pincode_locality {
    display: flex;
    display: flex;
    margin-top: 10px;
}

.address {
    display: flex;
    display: flex;
    margin-top: 10px;
}

.Address {
    height: 83px;
    width: 515px;
}

.city_landmark {
    display: flex;
    display: flex;
    margin-top: 10px;
}

.type {
    display: flex;
    display: flex;
    margin-top: 14px;
}

.radio {
    display: flex;
    display: flex;
    margin-top: 10px;
    margin-left: 3px
}

.radioLabel1 {
    position: relative;
    right: 215px;
}

.radio1 {
    position: relative;
    right: 333px;
}

.radioLabel2 {
    position: relative;
    right: 555px;
}

.radio2 {
    position: relative;
    right: 684px
}

.radioLabel3 {
    position: relative;
    right: 908px
}

.thirdCard {
    width: 42rem;
    display: flex;
    margin-bottom: 21px;
}

.repeatControlOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 36px;
    border: 0px solid rgba(0,0,0,.125);
}

.checkout {
    position: relative;
    left: 487px;
    width: 154px;
}