.navbar-custom {
    background-color: lightgreen;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    text-decoration-color:white;
    /* Height of the footer*/
    height: 40px;
    background: black;
}